@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada&family=Noto+Serif+Devanagari&display=swap');

body {
    display: flex;
    flex-direction: column;
     margin: 0;
    background-color: rgb(218, 218, 218);
    line-height: 4vh;
    font-family: 'Anek Kannada', sans-serif;
}

header {
    grid-column: 1/3;
    background-color: white;
    min-width: 100%;
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;

}

header > p {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 2vw
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    min-height: 100%;
}

p {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

tr > td:nth-child(2) {
    font-weight: bold;
}

tr > td:first-child {
    padding-left: .5vw;
}

th {
    width: 33%;
    padding-top: 1.5vh;
}

.rate {
    text-align: center;
}


th:last-of-type {
    padding-right: .5vw;

}

tr:last-of-type > td {
    border-bottom: none;
}

a {
    color: black;
}


table {
    background-color: white;
    min-height: 90%;
    min-width: 50%;
    border-spacing: 0;
    font-size: 1.3rem;
    border: lightblue 1px solid;
    box-shadow: 3px 3px 5px grey, -3px -3px 5px grey;
    margin-left: 1vw;
    margin-top: 3vh;
}


button {
    border: none;
    background-color: white;
}

.best {
    background-color: lightblue
}

#subtext {
    font-size: 1.3rem;
    font-style: italic;
}

#ibond {
    display: flex;
    gap: .7vw;
}

@media (max-width: 800px) {
    body {
        -webkit-text-size-adjust: none
    }
    td, th, p {
        font-size: 1.5rem;
    }

    table {
        width: 80vw
    }
}