body {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    gap: 2vw;
    background-color: rgb(218, 218, 218);
}

main {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

tr > td:nth-child(2) {
    font-weight: bold;
}

td {
    border: 1px solid black;
    font-size: 2rem;
    padding: 1vh 1.5vw;
}

th {
    font-size: 2rem;
    padding: 2vh 2vw;
    border-right: 1px solid black;
    background-color: rgb(21, 21, 148);
    color: white;

}

a {
    color: blue;
}

table {
    background-color: white;
    min-width: 40vw;

}

button {
    background-color: rgb(21, 21, 148);
    border: none;
    color: white;
    font-size: 3rem;
}

.best {
    background-color: yellow
}

.worst {
    background-color: red;
}


@media (max-width: 800px) {
    td, th, p {
        font-size: 1.5rem;
    }

    table {
        width: 80vw
    }
}

#subtext {
    font-size: 1.3rem;
    font-style: italic;
}