@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada&family=Noto+Serif+Devanagari&display=swap');

body {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    gap: 2vw;
    background-color: rgb(218, 218, 218);
    line-height: 4vh;
    font-family: 'Anek Kannada', sans-serif;
}

main {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

tr > td:nth-child(2) {
    font-weight: bold;
}

td {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding: 1vh 1.5vw;
}

td:nth-child(-n+2) {
    border-right: 1px solid black;
}

.rate {
    text-align: center;
}

th {
    font-size: 1.5rem;
    padding: 1vh 2vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(21, 21, 148);
    color: white;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;

}

tr:last-of-type > td {
    border-bottom: none;
}

a {
    color: black;
}

table {
    background-color: white;
    min-width: 40vw;
    border-radius: 10px;

}

button {
    background-color: rgb(21, 21, 148);
    border: none;
    color: white;
    font-size: 2rem;
}

.best {
    background-color: yellow
}

.worst {
    background-color: red;
}


#subtext {
    font-size: 1.3rem;
    font-style: italic;
}

#ibond {
    display: flex;
    gap: 1vw
}

@media (max-width: 800px) {
    body {
        -webkit-text-size-adjust: none
    }
    td, th, p {
        font-size: 1.5rem;
    }

    table {
        width: 80vw
    }
}